#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.conversion-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

select,
input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 1rem;
}

select:focus,
input:focus {
  outline: none;
  border-color: #ffffff;
}

button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  background-color: #ffffff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
}

.error-message {
  color: red;
  text-align: center;
}
